div.operation {
    font-size: 18px;
    background-color: #eeeeee;
    border: 2px solid;
    margin-top: 2px;
    border-radius: 10px;
}

div.operation.ok {
    border-color: springgreen;
}

div.operation.ko {
    border-color: indianred;
}

div.operation.undecided {
    border-color: yellow;
}